body {
  background-color: #3FBA50;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main h1 {
  font-family: 'Barlow', sans-serif;
  color: white;
  font-size: 10vw;
  letter-spacing: -2px;
}